@model List<MyPortfolio.Models.TblSkills>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
<br />
<h3>Yeteneklerim Sayfası</h3>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Değer</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.SkillName</td>
            <td>@item.Value</td>
            <td><a href="/Skill/DeleteSkill/@item.SkillID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Skill/UpdateSkill/@item.SkillID" class="btn btn-outline-info">Güncelle</a></td>
        </tr>
    }

</table>
<br />
<a href="/Skill/AddSkill" class="btn btn-outline-primary">Yeni Yetenek Ekle</a>

