@model MyPortfolio.Models.TblTestimonials
@{
    ViewBag.Title = "AddTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>Referans Ekleme Sayfası</h3>

<form method="post">
    <label>Resim Url</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />

    <label>Yorum</label>
    <input type="text" name="Comment" class="form-control" />
    <br />

    <label>Ad Soyad</label>
    <input type="text" name="Name Surname" class="form-control" />
    <br />

    <label>Pozisyon</label>
    <input type="text" name="Title" class="form-control" />
    <br />

    <label>Durum</label>
    <input type="text" name="Status" class="form-control" />
    <br />

    <label>Yorum Tarihi</label>
    <input type="text" name="CommentDate" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>

</form>



