@model MyPortfolio.Models.TblSocialMedias
@{
    ViewBag.Title = "UpdateSocialMedia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />

<h3>Sosyal Medya Güncelleme Sayfası</h3>
<form method="post">
    <input type="hidden" name="SocialMediaID" value="@Model.SocialMediaID" class="form-control"/>
    <label>Sosyal Medya İsmi</label>
    <input type="text" name="SocialMediaName" value="@Model.SocialMediaName" class="form-control"/>
    <br />

    <label>Sosyal Medya Url</label>
    <input type="text" name="Url" value="@Model.Url" class="form-control"/>
    <br />

    <label>Sosyal Medya Icon</label>
    <input type="text" name="Icon" value="@Model.Icon" class="form-control"/>
    <br />

    <button class="btn btn-outline-info">Güncelle</button>

</form>
